<div ng-controller="groupviewcontroller as vm">
    <div><img ng-src="{{'images/' + vm.getIcon(vm.group)}}" height="24"/>{{vm.group.type}}</div>
    <div>{{vm.group.name}}</div>
    <div>Add Users ({{vm.users.length}})</div>

    <div ng-repeat="user in vm.filteredUsers">
        <div>{{user.firstname}} {{user.lastname}}</div>
    </div>
    <button ng-click="vm.pageChanged(1)">First</button>
    <button ng-click="vm.pageChanged(vm.currentPage-1)">&lt;</button>
    <span ng-repeat="i in vm.paginationButtons" ng-show="i>vm.firstButton && i <vm.lastButton">
        <button ng-click="vm.pageChanged(i)">{{i}}</button>
    </span>
    <button ng-click="vm.pageChanged(vm.currentPage+1)"> &gt; </button>
    <button ng-click="vm.pageChanged(vm.totalPages-1)">Last</button>
    <p>
        total Items: {{vm.users.length}}<br/>
        Items per page: {{vm.itemsPerPage}}<br/>
        Current Page: {{vm.currentPage}}
    </p>
</div>
