<form>
    <div ng-controller="SecurityController as vm">
        <div class="row panel panel-info">
            <div class="panel-heading">
                <span class="panel-title">Login</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <span class="col-xs-4 text-right">Username</span>
                    <span class="col-xs-8"><input type="text" ng-model="vm.username"></span>
                </div>
                <div class="row">
                    <span class="col-xs-4 text-right">Password</span>
                    <span class="col-xs-8"><input type="password" ng-model="vm.password"></span>
                </div>
                <div class="row text-center">
                    <button class="btn btn-default" ng-click="vm.login()">Login</button>
                </div>
                <div class="row">
                    <span>Login status: {{vm.status}}</span>
                </div>
            </div>
        </div>
    </div>
    <!--<div ng-controller="UserController as vm">-->
        <!--<div>List of users:</div>-->
        <!--<div ng-repeat="user in vm.users">-->
            <!--<div>{{user.name}}</div>-->
        <!--</div>-->
    <!--</div>-->
</form>
