<div ng-controller="UserCreateController as vm">
    <div><span>Name</span><span><input type="text" ng-model="vm.user.name"></span></div>
    <div><span>Id</span><input type="text" ng-model="vm.user.id"></div>
    <div><span>Username</span><input type="text" ng-model="vm.user.username"></div>
    <div><span>Address</span><input type="text" ng-model="vm.user.address"></div>
    <div><span>Mail</span><input type="text" ng-model="vm.user.mail"></div>
    <div><span>Phone</span><input type="text" ng-model="vm.user.phone"></div>
    <div><button class="btn btn-default" ng-click="vm.create()">Login</button></div>
</div>
