<div ng-controller="grouplistcontroller as vm" class="text-center">
    <ul ng-repeat="group in vm.groups" class="list-inline">
        <li class="card col-xs-6" ng-click="vm.gotoGroup(group)">
            <div class="col-xs-1"><img ng-src="{{'images/' + vm.getIcon(group)}}" height="24"/></div>
            <div class="col-xs-3">{{group.name}}</div>
            <div class="col-xs-2">
                <button>...</button>
            </div>
        </li>


        <!--<div class="col-xs-6">{{group.name}}</div>-->
    </ul>
</div>
