<div class="panel panel-default" ng-controller="createeventcontroller as vm">
    <div class="panel panel-heading">Create Event</div>
    <form name="eventform" ng-submit="vm.submitForm(eventform.$valid)">
        <div class="panel panel-body">
            <div class="well row">
                <div class="text-left col-xs-2"><label>Name</label></div>
                <div class="col-xs-10 text-left"><input type="text" ng-model="vm.event.name"></div>
                <div class="text-left col-xs-2"><label>Description</label></div>
                <div class="col-xs-10 text-left"><input type="text" ng-model="vm.event.description"></div>
                <div class="text-left col-xs-2"><label>Location</label></div>
                <div class="text-left col-xs-10">
                    <select ng-model="vm.event.location">
                        <option ng-repeat="location in vm.locations track by location._id | orderBy: 'name'"
                                value="{{location._id}}">
                            {{location.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="well text-left col-xs-6">
                <div class="col-xs-4"><label>Start</label></div>
                <div>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM-yyyy"
                               ng-model="vm.event.start"
                               is-open="vm.datepicker.start.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.start.open()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </p>
                    <div class="col-xs-4"><label>End</label></div>
                    <div>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM-yyyy HH:mm"
                                   ng-model="vm.event.end"
                                   is-open="vm.datepicker.end.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.end.open()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                    <div class="col-xs-4"><label>Signstart</label></div>
                    <div>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM-yyyy HH:mm"
                                   ng-model="vm.event.signstart"
                                   is-open="vm.datepicker.signstart.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                         <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.signstart.open()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                    <div class="col-xs-4"><label>Signend</label></div>
                    <div>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM-yyyy HH:mm"
                                   ng-model="vm.event.signend"
                                   is-open="vm.datepicker.signend.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                         <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.signend.open()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                    <div class="col-xs-4"><label>Last unattend</label></div>
                    <div>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM-yyyy HH:mm"
                                   ng-model="vm.event.lastAttend"
                                   is-open="vm.datepicker.lastAttend.opened" min-date="minDate" max-date="maxDate"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   required="true" close-text="Close" alt-input-formats="altInputFormats"
                                   ng-class="{ 'danger' : eventform.event.lastAttend.$invalid && !eventform.event.lastAttend.$pristine }"/>
                         <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.datepicker.lastAttend.open()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                </div>
            </div>
            <!--<div text-angular ng-model="vm.event.description"></div>-->
            <div class="well text-left col-xs-6">
                <div class="col-xs-4">
                    <label>Price for members</label></div>
                <div class="col-xs-8 text-left"><input type="text" ng-model="vm.event.financials.memberprice">
                </div>
                <div class="col-xs-4">
                    <label>Price for non member</label></div>
                <div class="col-xs-8 text-left"><input type="text" ng-model="vm.event.financials.nonmemberprice">
                </div>
                <div class="col-xs-4">
                    <label>No show price</label></div>
                <div class="col-xs-8 text-left"><input type="text" ng-model="vm.event.financials.noshowprice">
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Create</button>
            <!--<button ng-click="vm.create()">Create</button>-->
        </div>
    </form>

</div>
