<div ng-controller="EventController as vm">
    <div class="row example-animate-container">
        <div class="header headermedium">Current Events</div>
        <div><label>Number of events:</label> {{currentevents.length}}</div>
        <div class="card col-xs-3 animate-repeat"
             ng-repeat="event in vm.events | orderBy:  'start' : true | iscurrenteventfilter as currentevents">
            <div ng-include src="'app/events/list/event.html'"></div>
        </div>
    </div>
    <div class="row example-animate-container">
        <div class="header headermedium">Expired Events</div>
        <div><label>Number of events:</label> {{expiredevents.length}}</div>
        <div class="card col-xs-3 animate-repeat"
             ng-repeat="event in vm.events  | orderBy:  'start' : true | iscurrenteventfilter: false as expiredevents">
            <div ng-include src="'app/events/list/event.html'"></div>
            <!--<div class="header headersmall row" ng-click="vm.gotoEvent(event)">-->
                <!--<div class="event-title col-xs-10">{{event.name}} {{event.id}}</div>-->
                <!--<div class="event-status col-xs-2 text-right">X</div>-->
            <!--</div>-->
            <!--<div class="card-content" ng-click="vm.gotoEvent(event)">-->
                <!--<div class="event-time-remaining-label">Tilmelding:</div>-->
                <!--<div class="event-time-remaining-content">{{event.signend}}</div>-->
                <!--<div class="clearfix"></div>-->
                <!--<div class="event-date-content">{{event.start | date: 'dd-MM-yyyy'}}</div>-->
                <!--<div class="clearfix"></div>-->
                <!--<div class="event-time-content">{{event.start | date: 'HH:mm'}}-{{event.end | date: 'HH:mm'}}</div>-->
                <!--<div class="clearfix"></div>-->
                <!--<div class="event-location-content">{{event.location}}</div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div>-->
                <!--<button ng-click="vm.signup(event)">{{(event | isattendingeventfilter: vm.user) ? 'Attend' : 'Cancel'}}-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
